https-proxy=http://proxy.investitionsbank.de:8080
strict-ssl=false
registry=https://registry.npmjs.org
noproxy=tfs.investitionsbank.de
@ibb:registry=http://tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/registry/ 
                        
always-auth=true


# Token expires 12/01/2022
; begin auth token
//tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/registry/:username=Dev01
//tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/registry/:_password=aGkyZHVpbnRidWw1N2ozYjN2cXlpb2JudnVhMjQzcm1xbXhoZDRjc2JkYXA3d2NwZWJqcQ==
//tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/:username=Dev01
//tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/:_password=aGkyZHVpbnRidWw1N2ozYjN2cXlpb2JudnVhMjQzcm1xbXhoZDRjc2JkYXA3d2NwZWJqcQ==
//tfs.investitionsbank.de:8080/tfs/dev01/ESF-Hub-Dev/_packaging/IBB-Dev01-Feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token